:root {
  --bg: #fff;
  --textColor: #000;
  --secondaryBg: #f1f1f1;
  --secondaryTextColor: #4e4e4e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--textColor);
  border-radius: 8px 0 0 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondaryTextColor);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin-top: 100px;
  padding: 0 120px;
}